<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.medicalapp">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/main_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".inventory.MedInventoryMainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".activities.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.MainActivity" />
        <activity
            android:name=".activities.HomeDrawerActivity"
            android:label="@string/title_activity_home_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".reminder.activity.SplashActivityPillsReminder"
            android:parentActivityName=".activities.HomeDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".reminder.activity.MainActivityPillsReminder"
            android:parentActivityName=".activities.HomeDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".reminder.activity.AddMedicineActivity"
            android:parentActivityName=".reminder.activity.MainActivityPillsReminder"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".reminder.activity.MedicinePreviewActivity"
            android:parentActivityName=".reminder.activity.MainActivityPillsReminder"
            android:theme="@style/AppTheme.NoActionBar" />

        <receiver
            android:name=".reminder.Class.AlarmReceiver"
            android:enabled="true"
            android:exported="true"
            android:process=":remote">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="ac.in.ActivityRecognition.RestartSensor" />
                <action android:name="android.action.stop.alarm" />
            </intent-filter>
        </receiver>


        <service
            android:name=".backgroundServices.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".reminder.Class.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".backgroundServices.BackgroundTasksService"
            android:enabled="true"
            android:process=":remote" />
        <service
            android:name=".backgroundServices.BackgroundTasksJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:process=":remote" />
    </application>

</manifest>